@{
    ViewData["Title"] = "Order Confirmed";
}

<h1>Thank You!</h1>

<p>We have successfully authorized your payment. Your order has been placed and will be shipped to your address as soon as possible.</p>
